---
services:
  aprendago:
    image: fabianoflorentino/aprendago:v0.0.1
    build:
      context: .
      dockerfile: build/Dockerfile.dev
    env_file:
      - configs/.env
    networks:
      - aprendago
    volumes:
      - .:/aprendago
    tty: true
    stdin_open: true
    healthcheck:
      test: ["CMD-SHELL", "ps aux |grep 'sleep' || exit 1"]
      interval: 30s
      timeout: 30s
      retries: 3

networks:
  aprendago:
    name: aprendago
    driver: bridge
